<?xml version="1.0"?>
<launch>  
 
   <node pkg="driver_control" type="joy_to_twist.py" name="tjoy_to_twist" output="screen" />
   <node pkg="driver_control" type="motor_driver_ros_interface.py" name="motor_driver" output="screen" />
   <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="turtlebot_teleop_keyboard"  output="screen"/>

</launch>
